.weatherContainer {
    display: flex;
    flex-direction: row;
    width: 1em;
    height: 1em;
    padding: .5em;
    padding-right: 1em;
    color: white;
    text-align: center;
    place-content: center;
    border-radius: .5em;
    float: right;
    margin-right: 13em;
}

.description {
    font-size: 1.2rem;
    font-weight: 700;
}

.weatherIcon {
    width: 50px;
    background-color:hsl(0, 0%, 80%);
    border-radius: 30%;
    margin-right: 20px;
}

.weatherDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-right: 10px;
}

.location {
    font-size: 24px;
    margin-top: 0em;
    margin-right: 20px;
}

@media only screen and (max-width: 500px) {
    .description {
        font-size: 1rem;
    }
    .location {
        font-size: 1rem;
    }
    .weatherIcon {
        width: 3em;
    }
}